<div class="dashboard-wrapper">

  <!-- HERO SECTION -->
  <div class="hero">
    <h1><span class="brand">My-Bank</span> Clerk Portal</h1>
    <p>Perform daily banking operations like deposits, withdrawals and transaction checks.</p>
  </div>

  <!-- CARD GRID -->
  <div class="card-grid">

    <!-- Deposit -->
    <a class="card" routerLink="/clerk/deposit">
      <h3>Deposit</h3>
      <p>Add money to customer account securely.</p>
    </a>

    <!-- Withdraw -->
    <a class="card" routerLink="/clerk/withdraw">
      <h3>Withdraw</h3>
      <p>Withdraw money safely from accounts.</p>
    </a>

    <!-- Transaction History -->
    <a class="card" routerLink="/clerk/transfer">
      <h3>Transfer</h3>
      <p>transfer amount.</p>
    </a>

  </div>

</div>