<div class="withdraw-container">

  <div class="withdraw-card">
    <h2>Withdraw Money</h2>

    <div class="form-group">
      <label>Account Number</label>
      <input 
        placeholder="Enter account number"
        [(ngModel)]="accountNumber" />
    </div>

    <div class="form-group">
      <label>Amount</label>
      <input 
        type="number"
        placeholder="Enter amount"
        [(ngModel)]="amount" />
    </div>

    <button 
      class="primary-btn"
      (click)="withdraw()">
         withdraw
    </button>

    <div class="alert success" *ngIf="successMessage">
      {{ successMessage }}
    </div>

    <div class="alert error" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

  </div>

</div>
