.create-account-container {
  font-family: 'Segoe UI', sans-serif;
}

/* Hero section like Axis */
.hero {
  background: linear-gradient(135deg, #fbe4f0, #ffffff);
  padding: 60px 40px;
  border-radius: 20px;
  margin-bottom: 40px;
}

.hero h1 {
  font-size: 36px;
}

.brand {
  color: #8b0033;
  font-weight: bold;
}

.hero p {
  font-size: 18px;
  color: #555;
}

/* Form Card */
.form-card {
  max-width: 500px;
  background: #ffffff;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
   margin: 0 auto; 
}

.form-card h3 {
  margin-bottom: 20px;
  color: #8b0033;
}

input {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

input:focus {
  outline: none;
  border-color: #8b0033;
}

button {
  width: 100%;
  padding: 12px;
  background: #8b0033;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #a1003d;
}

.success-msg {
  margin-top: 15px;
  color: green;
  font-weight: 600;
  text-align: center;
}

.error-msg {
  margin-top: 15px;
  color: red;
  font-weight: 600;
  text-align: center;
}

button:disabled {
  background: #999;
  cursor: not-allowed;
}

.loader {
  width: 18px;
  height: 18px;
  border: 3px solid white;
  border-top: 3px solid transparent;
  border-radius: 50%;
  display: inline-block;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


